<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    {{>bootstrap}}
    {{>style}}
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      {{>404msg}}
    </div>
    {{>footer}}
  </body>
</html>