<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    {{>bootstrap}}
    {{>style}}
  </head>
  <body>
      <div class="main-content">
        {{>header}}
        <p>Use this page to get help about using the weather app</p>
      </div>
      {{>footer}}
  </body>
</html>